<div class="home-container">
	<app-card
		gameCover="assets/bt-1.jpg"
		cardTag="Classic"
		cardDescription="The original, Play it now!"
		cardPrice="R$199,99"
		cardConsole="Digital | PS4"
	></app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		cardTag="Exclusive"
		cardDescription="Only on PlayStation"
		cardPrice="R$399,99"
		cardConsole="Digital | PS5"
	></app-card>
	<app-card
		gameCover="assets/bt-bad-company-2.jpg"
		cardTag="Cross-Platform"
		cardPrice="R$299,99"
		cardDescription="On sale for a limited time!"
		cardConsole="Digital"
	></app-card>
	<app-card
    gameCover="assets/bt-hardline.jpg"
    cardTag="Action Adventure"
    cardDescription="Experience the thrill!"
    cardPrice="R$249,99"
    cardConsole="Digital | PS4"
></app-card>
<app-card
    gameCover="assets/ac-cover.jpg"
    cardTag="Exclusive Release"
    cardDescription="Join the adventure"
    cardPrice="R$499,99"
    cardConsole="Digital | PS5"
></app-card>
<app-card
    gameCover="assets/bt-4.jpg"
    cardTag="Limited Edition"
    cardPrice="R$349,99"
    cardDescription="Don't miss out!"
    cardConsole="Digital | Cross-Platform"
></app-card>

</div>
